body {
    background-color: #444654;
    font-family: Arial, sans-serif;
    color: #F8F4E3;
}

header,
footer {
    background-color: #59A5D8;
    padding: 1em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 1em;
}

nav ul li a {
    color: #F8F4E3;
    text-decoration: none;
}

nav ul li a:hover {
    color: #444654;
}

h1 {
    font-family: 'Ibarra Real Nova', serif;
    margin-top: 0;
}

section {
    padding: 1em;
}