* {
    box-sizing: border-box;
}

:root {
    --background-color: #181a1b;
    --border-color: rgb(255, 255, 255, 0.1);
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}

nav {
    font-size: large;
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}

nav>.nav-section {
    padding: 3rem 2rem;
    display: flex;
    gap: 1rem;
    border-left: 1px solid var(--border-color);
    align-items: center;
}

button {
    all: unset;
    cursor: pointer;
}

button:focus {
    outline: rgb(255, 255, 255);
}

#nav-name-section {
    justify-content: flex-start;
}

#nav-links-section {
    justify-content: center;
}

#nav-socials-section {
    justify-content: flex-end;
}

#nav-name-section,
#nav-links-section,
#nav-socials-section {
    flex-basis: calc(100% / 3);
}

#nav-links-section {
    gap: 6rem;
}

#nav-socials-section {
    gap: 4rem;
}

main {
    position: relative;
}

main>article {
    position: absolute;
    left: 0px;
    top: 0px;
}

main > article[data-status="inactive"] {
    transform: translateX(-100%);
    transition: none;
}

main > article[data-status="active"] {
    transform: translateX(0%);
}

a {
    text-decoration: none;
}

h1, h2, h3, a, p, span {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: white;
}